@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <p style="font-size: 1.3rem">this is an ASP.NET Core recruitment test, please check the readme file to find out more about the tasks.</p>
</div>
